body {
    margin: 0;
    font-family: sans-serif;
    color: #eee;
    background: linear-gradient(to bottom, #333, #000)

}

form {
    background-color: transparent;
    padding: 20px 0;
    max-width: 500px;
    margin: auto;
    margin-top: 50px;
    box-shadow: 0px 0px 55px #0009;
    border-radius: 8px;
    font-size: 16px;
    transition: box-shadow 0.1s ease;
    margin-bottom: 40px;
}

form:focus-within {
    box-shadow: 0px 0px 15px rgb(255, 255, 33);
}

h2 {
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1.4em;
    padding: 10px;
}

.form-input {
    padding: 6px 20px;
}

input:not(.checkbox),
textarea, select{
    width: 100%;
    box-sizing: border-box;
    padding: 6px 8px;
    border: none;
    border: 1px solid #666666;
    box-shadow: 0px 0px 15px #0003;
    background-color: transparent;
    border-radius: 4px;
    color: #eee;
    transition: box-shadow 0.3s ease;
    outline: none;
}


option {
    background-color: #222;
}

textarea {
    min-width: 100%;
    resize: none;
    min-height: 102px;
    font-family: sans-serif;
}

label {
    font-size: 0.88em;
    line-height: 2;
}

.checkbox {
    width: auto;
    height: auto;
    margin-right: 10px;
    box-shadow: none;
}

input:focus,
textarea:focus {
    box-shadow: 0px 0px 8px rgb(255, 255, 33);
}

form:hover {
    box-shadow: 0px 0px 8px rgb(255, 255, 33);
}

input:not(.checkbox):focus,
textarea:focus {
    box-shadow: 0px 0px 8px rgb(255, 255, 33);
}

.checkbox:focus {
    box-shadow: none;
    outline: none;
}

fieldset {
    border-radius: 5px;
    border: 1px solid #666;
    padding: 8px 6px 20px 6px;
    margin: 20px;
}

legend {
    padding: 0 6px;
    color: #777;
}

.boton-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.boton-enviar {
    background-color: #444;
    color: #eee;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.boton-enviar:hover {
    box-shadow: 0px 0px 5px rgb(255, 255, 33);
}